<div class="back">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- titel -->
                <div class="titel">
                    <h3 class="section-title">Get in Touch</h3>
                    <span class="cretef">Get in Touch</span>
                </div>
                <!-- serice -->
                <div class="service">
                    <h5 class="block_titel">Get in Touch</h5>
                    <p class="desc-servisec">Thank you for visiting my website! Whether you have a project in mind, need
                        expert consultation, or have any questions about my services, I am here to help. </p>
                    <p class="desc-servisec">I will get back to you promptly. Let's collaborate to bring your vision to
                        life with cutting-edge
                        technology and proven expertise. </p>
                </div>
            </div>
          <!--content  -->
          <div class="communication">
            <a class="com" target="_blank" href="https://www.facebook.com/profile.php?id=100039906942127&mibextid=LQQJ4d">
                <span class="com-icon">facebook</span>
                <i class="fa-brands fa-facebook"></i></a>
            <a class="com" href="">
                <span class="com-icon">instagram</span>
                <i class="fa-brands fa-square-instagram"></i></a>
            <a class="com" href="">
                <span class="com-icon">github</span>
                <i class="fa-brands fa-github"></i></a>
            <a class="com" target="_blank" href="https://x.com/SamehAs07891877">
                <span class="com-icon">twitter</span>
                <i class="fa-brands fa-x-twitter"></i></a>
            <a class="com" target="_blank" href="https://www.linkedin.com/in/sameh-abdlal-25509628b/">
                <span class="com-icon">linkedin</span>
                <i class="fa-brands fa-linkedin"></i></a>
          </div>
          <!--content  -->
            <div class="icons">
                <!-- location -->
                <div class="continue">
                    <div class="call">
                        <i class="loicons  fa-solid fa-location-dot"></i>
                        <h4 class="lo-cont">Egypt / <span class="focuse">cairo</span></h4>
                    </div>
                    <!-- email -->
                    <div class="call">
                        <i class="loicons fa-solid fa-envelope"></i>
                        <a href="mailto:sh4590200@gmail.com" target="_blank" class="btn btn-success">Send an email</a>
                    </div>
                    <!-- email -->
                    <div class="call">
                        <i class="loicons fa-solid fa-phone"></i>
                        <h5 class="lo-cont">01017729427</h5>
                    </div>
                    <!-- whatsapp -->
                    <div class="call">
                        <i class="loicons fa-brands fa-whatsapp"></i>
                        <a href="https://wa.me/201017729427" target="_blank" class="btn btn-success">Send a message </a>
                    </div>
                    <!-- cv -->
                    <div class="call">
                        <i class="loicons fa-regular fa-file"></i>
                        <a href="/sameh-abdlal.pdf" download="CV_Sameh_Abdlal.pdf"    class="btn btn-success">Downlowad Cv </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>