<div class="back">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- titel -->
                <div class="titel">
                    <h3 class="section-title">Resume</h3>
                    <span class="cretef">Front_end_angular</span>
                </div>
                <!-- serice -->
                <div class="service">
                    <h5 class="block_titel">Programming Language</h5>
                    <div class="row">
                        <div class="col-md-3" *ngFor="let skil of skils">
                            <div>
                                <h4> <span class="badge bg-secondary">{{skil}}</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="service">
                        <h5 class="block_titel">Technologies Frameworks </h5>
                        <div class="row">
                            <div class="col-md-3" >
                                <div>
                                    <h1> <span class="badge bg-secondary">Angular</span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>