<img class="cover" src="/photo_2024-10-14_00-51-21.jpg" alt="">
<div class="home">
    <div class="content">
        <div class="description">
            <h2 class="name">Sameh_Abdlal</h2>
            <p class="jop">{{currentText}}</p>
            <h4 class="abda">Where Innovation Meets Experience</h4>
            <h5 class="desc">Are you looking for a seasoned software engineer to bring your digital vision to life? Look
                no further.</h5>
        </div>
    </div>
</div>
<!-- maseage -->
<a target="_blank" href="https://wa.me/201017729427">
    <ul>
        <li style="--i:#56CCF2;--j:#2F80ED;">
            <span class="icon">💬</span>
            <span class="title">Messages</span>
        </li>
    </ul>
</a>
<!--  -->
<div (click)="vewmasseg=false" class="" [ngClass]="vewmasseg==true?'card':'closecard'">
    <img class="prtfilo" src="/photo_2024-10-14_00-51-21.jpg" alt="">
    <h1 id="greeting">Welcome user!</h1>
    <div id="message">
        With a deep expertise in <span class="focus">Angular</span>, I specialize in building dynamic, scalable, and
        user-friendly web applications that provide seamless user experiences. I bring to the table a strong proficiency
        in <span class="focus">HTML, CSS, JavaScript, TypeScript, and Bootstrap</span>, ensuring that your website not only looks stunning but is
        also optimized for performance and responsiveness on all devices.
    </div>
</div>